@import 'tailwindcss' prefix(tw);

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.v-number-input.compact-input *,.v-select.compact-input *, .v-text-field.compact-input * {
  --v-input-control-height: 30px;
  --v-input-padding-top: 3px;
  --v-field-input-padding-bottom: 3px;
  --v-field-padding-bottom: 0px;
  --v-field-padding-end: 0px;
  --v-field-padding-start: 12px;
}

.centered-input .v-field__input {
    text-align: center;
}

html {
    touch-action: manipulation;
}
